*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    background-color: black;
    color: white;
    transition: 0.2s;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* scrollbar-gutter: stablend; */
    overflow-x: hidden;
    /* scrollbar-gutter: stable; */
}
a{
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    cursor: pointer;
}
.navbar{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3rem;
    height: 10rem;
    padding: 1rem;
}
.index-navbar{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3rem;
    height: 10rem;
    padding: 1rem;
}
.brand{
    color:white;
}
.brand:hover{
    color:rgb(168, 57, 168);
}
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 1rem;
    justify-content: center;
    border: 0.01rem solid white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0.5rem;
    border: 0.1rem solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button{
    height: 8rem;
}
/* ---------------------------------------- Commons end ---------------------------------------- */

/* ---------------------------------------- home page ---------------------------------------- */
.home-page{
    /* height: 100rem; */
    width: 100%;
    /* box-shadow: 0 0 0.5rem 0.5rem white; */
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}
.home-page-1{
}
.home-page-2{
}
.home-page-3{
}
.home-page-4{
    margin: 0 0 10rem 0;
}
.home-page-elements{
    width: 70rem;
    padding: 4rem 6rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 0.1rem solid rgb(190, 190, 190);
    /* background-color: rgb(170,170,170); */
}

.getting-started, .win-at-your-business, .tools-\&-integrations, .need-help-to-get-going\?{
    background-color: transparent;
    padding: 0 0 2rem 0;
}
.getting-started-h1, .win-at-your-business-h1, .tools-\&-integrations-h1, .need-help-to-get-going\?-h1{
    padding: 1.5rem 1rem;
    background-color: transparent;
}
.getting-started-elements, .win-at-your-business, .tools-\&-integrations, .need-help-to-get-going\?{
    background-color: transparent;
    align-items: center;
}

.get-to-know-your-messenger, .get-inclined-to-help-your-customers, .set-up-your-inbox,
.convert-potential-customers, .set-your-targets-\&-nail-them, .set-up-to-email-your-customers,
.tools-to-integrate,
.get-on-a-video-call-for-a-demo, .found-an-issue\?-contact-us{
    background-color: transparent;
    padding: 0.5rem 0;

}
.get-to-know-your-messenger-a, .get-inclined-to-help-your-customers-a, .set-up-your-inbox-a,
.convert-potential-customers-a, .set-your-targets-\&-nail-them-a, .set-up-to-email-your-customers-a,
.tools-to-integrate-a,
.get-on-a-video-call-for-a-demo-a, .found-an-issue\?-contact-us-a{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    /* box-shadow: 0 0 0.1rem 0.05rem white; */
    border: 0.05rem solid white;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem black;
}
.get-to-know-your-messenger-a-elements, .get-inclined-to-help-your-customers-a-elements, .set-up-your-inbox-a-elements,
.convert-potential-customers-a-elements, .set-your-targets-\&-nail-them-a-elements, .set-up-to-email-your-customers-a-elements,
.tools-to-integrate-a-elements,
.get-on-a-video-call-for-a-demo-a-elements, .found-an-issue\?-contact-us-a-elements{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.get-to-know-your-messenger-a:active, .get-inclined-to-help-your-customers-a:active, .set-up-your-inbox-a:active,
.convert-potential-customers-a:active, .set-your-targets-\&-nail-them-a:active, .set-up-to-email-your-customers-a:active,
.tools-to-integrate-a:active,
.get-on-a-video-call-for-a-demo-a:active, .found-an-issue\?-contact-us-a:active{
    box-shadow: none;
    transition: 0.05s;
    border: 0.05rem solid transparent;
    background-color: black;
    /*Give a ripple effect on clicking*/
}
.get-to-know-your-messenger-h2, .get-inclined-to-help-your-customers-h2, .set-up-your-inbox-h2,
.convert-potential-customers-h2, .set-your-targets-\&-nail-them-h2, .set-up-to-email-your-customers-h2,
.tools-to-integrate-h2,
.get-on-a-video-call-for-a-demo-h2, .found-an-issue\?-contact-us-h2{
    background-color: transparent;
    padding: 2rem 0;
    display:flex;
    align-items: center;
    height: 100%;
}
.get-to-know-your-messenger-a-img, .get-inclined-to-help-your-customers-a-img, .set-up-your-inbox-a-img,
.convert-potential-customers-a-img, .set-your-targets-\&-nail-them-a-img, .set-up-to-email-your-customers-a-img,
.tools-to-integrate-a-img,
.get-on-a-video-call-for-a-demo-a-img, .found-an-issue\?-contact-us-a-img{
    padding: 0 1rem;
    height: 3rem;
    background-color: transparent;
}

.material-symbols-outlined{
    padding: 0 1rem;
    background-color: transparent;
}
/* ------------------ ---------------------- inbox page ------------------- --------------------- */
.chat{
    height: 85vh;
    width: 100%;
    padding: 0 2rem;
    background-color: rgb(10, 10, 10);
    box-shadow: 0 0 0.5rem 0.02rem rgb(65, 65, 65);
    border-radius: 0.3rem;
    display: flex;
}

/* ----------- sidebar ----------- */
.sidebar{
    width: 15%;
    border-radius: 0.3rem;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(10, 10, 10);
    padding: 0 1rem;
    /* box-shadow: 0rem 0rem 0.1rem 0.2rem rgb(50, 50, 50); */
}
.sidebar h3{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: transparent;
    width: 100%;
}
.sidebar hr{
    width: 100%;
}
.sidebar-element{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.sidebar-element-a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.sidebar-element-a-img{
    height: 1.3rem;
    background-color: transparent;
    font-weight: bold;
}
.sidebar-element-a-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    background-color: transparent;
}
.sidebar-element-a-element:active{
    text-shadow: none;
    transition: 0.001s;
}
.sidebar-element-a-element-h5, .sidebar-element-a-element-count{
    padding: 0.5rem 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

/* ----------- chats ----------- */
.chats{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: pink;
    border-radius: 0.3rem;
    padding: 1rem;
}
.chats-header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: purple;
}
.chats-sort-filter{
    display: flex;
    justify-content: space-between;
}
.chats-list{
    background-color: white;
    height: 80%;
    width: 100%;
}

/* ------------ chat-container ------------ */
.chat-container{
    width: 40%;
    /* background-color: rgb(10, 10, 10); */
    /* background-color: white; */
    border: 0.1rem solid white;
}

/* ------------ chat-details ------------ */
.chat-details{
    width: 20%;
    border: 0.1rem solid white;
}
/* --------------------- ------------------- myfooter ---------------- -------------- */
/* dock */
footer{
    position:fixed;
    left: 0;
    bottom:0;
    width: 100%;
}
.dock{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1rem 0rem;
    /* margin: 0 5rem; */
    /* background-color: rgb(50, 50, 50); */
    background-color: transparent;
}
.docsubdiv-1, .docsubdiv-2, .docsubdiv-3, .docsubdiv-4{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0.5rem;
    margin: 0 0.5rem;
    /* background-color: rgb(10, 10, 10); */
    background-color: transparent;
    border: 0.1rem solid white;
    border-radius: 3rem;
    /* box-shadow: 0 0 0.1rem 0.2rem rgb(30, 30, 30); */
}
.dock-element{
    color: white;
    font-family:'poppins';
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: 1rem 0.5rem;
    margin: 0.1rem;
}
.dock-element-img{
    height: 2rem;
    padding: 0 0.2rem;
    background-color: transparent;
}
.dock-element-h2{
    /* background-color: gray; */
    font-size: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 0.2rem;
    background-color: transparent;
}
.dock-element-h2:hover, .dock-element-img:hover{
    color:rgb(168, 57, 168);
}